<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Company Name</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
</head>
<body>
  <!-- Top Bar -->
  <div id="top-bar">
    <div id="company-name">
      <h2>Private torrent service</h2>
    </div>
    <div id="top-bar-controls">
      <button class="btn" id="profile-btn">Profile</button>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <button class="btn" id="download-btn" onclick="downloadSelectedFile()">Download</button>
  </div>

  <!-- Main Content -->
  <div id="main-content">
    <button type="submit" class="btn" id="uploadFilesButton" onclick="showModal()">
      <img src="{{ url_for('static', filename='Images/uploadImg.jpg') }}" alt="Upload Image">
    </button>
    <form id="refreshButtonForm" method="POST" action="/refresh">
      <button type="submit" class="btn" id="refreshButton">
        <img src="{{ url_for('static', filename='Images/refreshImg.jpg') }}" alt="Refresh">
      </button>
    </form>
    <form id="infoButtonForm" method="POST" action="">
      <button type="submit" class="btn" id="infoButton">
        <img src="{{ url_for('static', filename='Images/infoImg.jpg') }}" alt="Refresh">
      </button>
    </form>
    <form id="settingsButtonForm" method="GET" action="/settings">
      <button type="submit" class="btn" id="settingsButton">
        <img src="{{ url_for('static', filename='Images/settingsImg.jpg') }}" alt="Refresh">
      </button>
    </form>
      <button type="submit" class="btn" id="removeButton" onclick="deleteSelectedDiv()">
        <img src="{{ url_for('static', filename='Images/removeImg.jpg') }}" alt="Refresh">
      </button>
    <hr class="separator-line"> <!-- Add a horizontal line as a separator -->
    <div id="file-container" class="scroll-container">
      {% if files|length > 0 %}
        {% for file in files %}
        <div class="file-info" onclick="selectDiv(this)" data-fileID="{{ file[0] }}" data-fileName="{{ file[1] }}" data-pieceSize="{{ file[3] }}" data-numOfPieces="{{ file[4] }}">
          <p>File name: {{ file[1] }}. File size: {{ file[2] }}</p>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <section class="modal">
    <div class="modal-content">
      <button class="close-button" onclick="closeModal()">
        <img src="{{ url_for('static', filename='Images/closeModalImg.jpg') }}" alt="Close">
      </button>
      <h5>Please specify what ranks can see this file</h5>
      <button onclick="uploadFile('visitor')">
        visitor
      </button>
      <button onclick="uploadFile('worker')">
        worker
      </button>
      <button onclick="uploadFile('manager')">
        manager
      </button>
      <button onclick="uploadFile('admin')">
        admin
      </button>
    </div>
  </section>

  <script src="{{ url_for('static', filename='js/divFunctionality.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modalFunctions.js') }}"></script>
</body>
</html>