<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Company Name</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
</head>
<body>
  <!-- Top Bar -->
  <div id="top-bar">
    <div id="company-name">
      <h2>Private torrent service</h2>
    </div>
    <div id="top-bar-controls">
      <button class="btn" id="profile-btn">Profile</button>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <p id="fileID"></p>
    <p id="fileName"></p>
    <p id="fileSize"></p>
    <p id="pieceSize"></p>
    <p id="numOfPieces"></p>
    <p id="fileVisibility"></p>
    <p id="fileOwners"></p>
    <p id="fileUploader"></p>
    <p id="amountOfDownloads"></p>
  </div>

  <!-- Main Content -->
  <div id="main-content">
    <button type="submit" class="btn" id="uploadFilesButton" onclick="showUploadFileModal()">
      <img src="{{ url_for('static', filename='Images/uploadImg.jpg') }}" alt="Upload Image">
    </button>
    <form id="refreshButtonForm" method="POST" action="/refresh">
      <button type="submit" class="btn" id="refreshButton">
        <img src="{{ url_for('static', filename='Images/refreshImg.jpg') }}" alt="Refresh">
      </button>
    </form>
    <button type="submit" class="btn" id="removeButton" onclick="deleteSelectedDiv()">
      <img src="{{ url_for('static', filename='Images/removeImg.jpg') }}" alt="Refresh">
    </button>
    <button type="submit" class="btn" id="downloadButton" onclick="downloadSelectedFile()">
      <img src="{{ url_for('static', filename='Images/downloadImg.jpg') }}" alt="Refresh">
    </button>
    <hr class="separator-line">
    <div id="file-container" class="scroll-container">
      {% if files|length > 0 %}
        {% for file in files %}
        <div class="file-info" onclick="selectDiv(this)" data-fileID="{{ file[0] }}" data-fileName="{{ file[1] }}" data-pieceSize="{{ file[3] }}" data-numOfPieces="{{ file[4] }}" data-fileVisibility="{{ file[5] }}" data-fileOwners="{{ file[6] }}" data-fileUploader="{{ file[7] }}" data-amountOfDownloads="{{ file[8] }}">
          <p>File name: {{ file[1] }}. File size: {{ file[2] }}</p>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <section class="modal" id="uploadFileModal">
    <div class="modal-content">
      <button class="close-button" onclick="closeUploadFileModal()">
        <img src="{{ url_for('static', filename='Images/closeModalImg.jpg') }}" alt="Close">
      </button>
      <h5>Please specify what ranks can see this file</h5>
      <button onclick="uploadFile('visitor')">
        visitor
      </button>
      <button onclick="uploadFile('worker')">
        worker
      </button>
      <button onclick="uploadFile('manager')">
        manager
      </button>
      <button onclick="uploadFile('admin')">
        admin
      </button>
    </div>
  </section>

  <section class="modal" id="responseModal">

  </section>

  <script src="{{ url_for('static', filename='js/divFunctionality.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uploadFile.js') }}"></script>
</body>
</html>