body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ecf0f1;
  color: #34495e;
  overflow-x: hidden;
}

#top-bar {
  background-color: #3498db;
  color: #fff;
  padding: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

#company-name {
  flex-grow: 1;
  text-align: center;
}

#company-name h2 {
  margin: 0;
  font-size: 18px;
}

#top-bar-controls {
  display: flex;
  align-items: center;
}

#profile-btn {
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#profile-btn:hover {
  background-color: rgba(52, 152, 219, 0.3);
}

#sidebar {
  background-color: #2c3e50;
  color: #fff;
  padding: 15px;
  width: 200px;
  position: fixed;
  top: 150;
  right: 0;
  height: 100%;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 999;
}

#download-btn {
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: #3498db;
}

#download-btn:hover {
  background-color: #2980b9;
}

#download-btn:disabled {
  background-color: #e74c3c;
  cursor: not-allowed;
}

#download-btn.enabled {
  background-color: #2ecc71;
  border-color: #27ae60;
}

#main-content {
  padding: 20px;
  margin-right: 220px;
  margin-top: 60px;
}

.file-info {
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.file-info:hover {
  background-color: #f39c12;
}
.file-info:focus {
  background-color: #f39c12;
}

#uploadFilesButton {
  position: fixed;
  top: 80px; /* Adjust the top value based on your top bar height */
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding to make the button a bit bigger */
  z-index: 1001; /* Adjust the z-index value as needed */
  transition: background-color 0.3s ease; /* Add transition effect for hover */
}
#refreshButton {
  position: fixed;
  top: 80px; /* Adjust the top value based on your top bar height */
  left: 70px; /* Adjust the right value for top right positioning */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding to make the button a bit bigger */
  z-index: 1001; /* Adjust the z-index value as needed */
  transition: background-color 0.3s ease; /* Add transition effect for hover */
}
#infoButton {
  position: fixed;
  top: 80px; /* Adjust the top value based on your top bar height */
  left: 130px; /* Adjust the right value for top right positioning */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding to make the button a bit bigger */
  z-index: 1001; /* Adjust the z-index value as needed */
  transition: background-color 0.3s ease; /* Add transition effect for hover */
}
#settingsButton {
  position: fixed;
  top: 80px; /* Adjust the top value based on your top bar height */
  left: 190px; /* Adjust the right value for top right positioning */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding to make the button a bit bigger */
  z-index: 1001; /* Adjust the z-index value as needed */
  transition: background-color 0.3s ease; /* Add transition effect for hover */
}

#uploadFilesButton img,
#refreshButton img,
#infoButton img,
#settingsButton img {
  width: 40px; /* Adjust the size as needed */
  height: auto;
}

#uploadFilesButton,
#refreshButton,
#infoButton,
#settingsButton {
  position: fixed;
  background: none;
  border: 1px solid #000; /* Black border */
  cursor: pointer;
  padding: 5px; /* Adjust padding to make the button a bit bigger */
  z-index: 1001; /* Adjust the z-index value as needed */
  transition: background-color 0.3s ease; /* Add transition effect for hover */
}

#uploadFilesButton:hover,
#refreshButton:hover,
#infoButton:hover,
#settingsButton:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Darken the background on hover */
}
.separator-line {
  border: 2px solid #000; /* Black line */
  width: 100%;
  margin-top: 60px; /* Adjust the top margin as needed */
}