body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ecf0f1;
  color: #34495e;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#top-bar {
  background-color: #3498db;
  color: #fff;
  padding: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000; /* Set a higher z-index for the top bar */
  position: fixed; /* Fix the top bar at the top */
  top: 0;
  left: 0;
}

#company-name {
  flex-grow: 1;
}

#company-name h2 {
  margin: 0;
  font-size: 24px;
}
#top-bar-controls {
  display: flex;
  align-items: center;
}

#profile-btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#profile-btn:hover {
  background-color: rgba(52, 152, 219, 0.3);
}

#main-content {
  padding: 20px;
  width: calc(100% - 250px);
  float: left; /* Make the main content float to the left */
  margin-top: 60px; /* Add margin to prevent content overlap with the top bar */
}

#sidebar {
  background-color: #2c3e50;
  color: #fff;
  padding: 15px;
  width: 250px;
  position: fixed; /* Set position to fixed for the sidebar */
  top: 75px; /* Set the top position to the height of the top bar */
  right: 0; /* Align the sidebar to the right */
  height: 100%;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 999; /* Set a lower z-index for the sidebar */
}

.sidebar-btn {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-btn:hover {
  background-color: rgba(52, 152, 219, 0.3);
}

#download-btn,
#settings-btn {
  padding: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#download-btn:disabled {
  background-color: #e74c3c; /* Red color when disabled */
  cursor: not-allowed;
}

#download-btn.enabled {
  background-color: #2ecc71; /* Green color when enabled */
  border-color: #27ae60;
}

#download-btn:hover,
#settings-btn:hover {
  background-color: rgba(52, 152, 219, 0.3);
}

.additional-info {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.additional-info.selected {
  background-color: #f39c12;
}